.application-content {
  margin-top: 200px;
}
.footer {
  height: fit-content;
  width: 100%;
  background-color: rgb(39, 102, 150);
  color: white;
  z-index: 4000 !important;
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
  padding: 8px !important;
  text-align: center;
}
